/* myapp/ph.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.scan-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#url-input {
  width: 250px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#scan-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#blacklist {
  padding-left: 20px;
}

#blacklist li {
  margin-bottom: 5px;
}