<!-- services/phishing_detection.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Phishing Detection</title>
  <link rel="stylesheet" type="text/css" href="{% static 'myapp/ph.css' %}">
</head>
<body>
  <div class="container">
    <div class="card">
      <h1>Phishing Detection</h1>
      <div class="scan-box">
        <input type="text" id="url-input" placeholder="Enter URL">
        <button type="button" id="scan-button">Scan</button>
      </div>
    </div>
  
</body>
</html>